# Ignore terraform run-time and state files
.terraform
.terraform.lock.hcl
terraform.tfstate*

# Deliberately ignore any automatic override files
foundations/terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
